/*banner部分同software一样*/
.ymz_banner_bg{
    overflow: hidden;
    background:url("../image/div_bg11.jpg")no-repeat center center;
}

.ymz_title{
    background-color: #f3f3f3;
    padding: 30px 0;
}
.ymz_title ul{
    width: 1200px;
    margin: 0 auto;
}
.ymz_title li{
    float: left;
    width: 240px;
    height: 164px;
    text-align: center;
}
.ymz_title li>a{
    display: inline-block;
    width: 84px;
    height: 84px;
    border: 10px solid #c5e5fb;
    border-radius: 50%;
}
.ymz_title li>a>img{
    margin-top: 17px;
}
.ymz_title li>p{
    font-size: 16px;
    margin-top: 15px;
}
/*云马指南底部*/
.ymz_bottom{}
.hot_guide{
    margin: 60px auto;
    /*text-align: center;*/
    border-bottom:1px solid #ddd;
    padding-bottom: 70px;
}
.hot_guide_title{
    text-align: center;
}
.ymz_bottom p.subtitle{
    font-size: 16px;
    margin: 20px 0 50px 0;
}
.hot_guide ul{
    float: left;
}
.hot_guide ul li{
    width: 350px;
    margin: 0 10px 0 30px;
    font-size: 16px;
    list-style-type: disc;
    line-height: 36px;
}
.hot_guide>a{
    margin: 70px auto 0;
    font-size: 16px;
    display: block;
    width:190px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border:1px solid #666;
    text-align: center;
    /*clear: left;*/
}
.hot_guide>a:hover{
    background-color:#2fb8ea;
    color: #fff;
    border:1px solid transparent;
}

/*帮助*/
.ymz_help{
    margin:0 auto;
    padding-bottom: 70px;
}
.ymz_help_title{
    text-align: center;
}
.ymz_help .inp{
    font-size: 0;
}
.help_form{
    width: 656px;
    margin: 0 auto;
}
.ymz_help input{
    width: 200px;
    height: 36px;
    border:1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 2px;
    font-size: 14px;
    padding-left: 10px;
    /*box-sizing: border-box;*/
    margin-right: 5px;

}
.form_text textarea{
    width: 632px;
    height: 200px;
    background-color: #f8f8f8;
    font-size: 14px;
    padding: 10px;
    margin: 20px 0;
    border:1px solid #ccc;
}
.verify_code img{
    vertical-align: middle;
}
.ymz_help button.btn{
    width: 656px;
    height: 50px;
    line-height: 50px;
    /*text-align: center;*/
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    border:0;
}